/* Components */
@import './components/personcard.css';
@import './components/header.css';

/* Pages */
@import './pages/team.css';

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  --max-width: 800px;
  --product-color: #f1840f;
  --ops-color: #e74c3c;
  --marketing-color: #3498db;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 16, 16, 16;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.btn {
  margin: 8px 0;
  padding: 8px 16px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  background: #222;
  border-radius: 16px;
  font-size: 12px;
}

/* My styles */

.page-title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}

.container {
  width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 4rem 0;
}

.copy-block {
  display: grid;
  gap: 1rem;
}

.copy-block p {
  line-height: 1.35;
}

.copy-block .copy-block__text-container {
  display: grid;
  gap: 1.5rem;
}
